#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

/ {
    aliases {
    };

    chosen {
        zephyr,console = &board_cdc_acm_uart;
        zephyr,shell-uart = &board_cdc_acm_uart;
    };
};

&adc {
    status = "okay";
};

&reg0 {
    status = "okay";
};

&reg1 {
    regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};
